//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "nullstyle.scss";
//====================================================
.wrapper {
	max-width: 600px;
	margin: 0 auto;
}
.filter {
	padding: 20px;
	box-shadow: 5px 5px 10px #ccc;

	&__title {
		font-size: 24px;
		margin-bottom: 20px;
	}
	&__form {
		margin-bottom: 10px;
	}
	.form__input {
		width: 100%;
		background-color: white;
		background-image: url('../img/search.svg');
		background-position: 10px 10px;
		background-repeat: no-repeat;
		border: 1px solid #ddd;
		padding: 12px 20px 12px 40px;
	}
	.table,
	th,
	td {
		border: 1px solid #ddd;
	  	border-collapse: collapse;
	}
	th,
	td {
		padding: 10px;
	}
	tr:hover {
		background-color: #e2e2e2;
	}
	.table {
		width: 100%;
		&__heading {
			background-color: #f1f1f1;
		}
	}
}


